#icon-matrix {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
  width: auto;
  height: auto;
}

.icon {
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center;
  transition: transform 1s, opacity 1s ease;
}

.icon.animate {
  transform: translateY(1000%);
}

.icon.animate-in {
  /*     transform: translateY(1000%); */
  animation: slide-in 1.5s;
}

@keyframes slide-in {
  from {
    transform: translateY(-500%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes explode {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(2);
  }
}

.explode {
  animation: explode 1s forwards;
}
